html, body {
  height: 100%;
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  color: #666666;
  font-size: 13px;
}

.header {
  background-color: #ff4080;
  color: #ffffff;
  display: block;
  font-size: 45px;
  font-weight: 300;
  padding: 0 16px;
  text-decoration: none;
  line-height: 70px;
  height: 70px;
}

.content {
  position: relative;
  height: calc(100% - 70px);
  overflow-y: auto;
}

more-route-selector, core-animated-pages {
  display: block;
  height: 100%;
}

core-animated-pages {
  position: relative;
}
